.header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin-bottom: 120px;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #f0fffd;
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  padding-left: 64px;
  padding-right: 64px;
}

.logo {
  display: flex;
  gap: 12px;
  flex-direction: row;
}

.dashitem {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding: 24px;
  border: 1px dashed black;
}

.room1 {
  border: 1px solid black;
  height: 500px;
  width: 300px;
  background-color: #f0fffd;
}

.room2 {
  border: 1px solid black;
  height: 300px;
  width: 300px;
  background-color: #f0fffd;
}

.serverlist {
  padding-top: 24px;
  padding-left: 24px;
  justify-self: start;
  gap: 12px;
}

.server {
  margin-bottom: 12px;
  display: flex;
}

.workloads {
  padding-left: 24px;
  align-self: center;
  padding-bottom: 24px;
}

.serverdetails {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  width: 100%;
  justify-content: center;
  font-weight: bold;
  align-items: center;
}
