.forecasting {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
  height: 540px;
  justify-self: center;
  padding-top: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.title {
  font-weight: bold;
}
